
/rtl/DW*
sim/core_sim/sim_build/
sim/asm_sim/sim_build/
/software/asm_tests/*.bin
/software/asm_tests/*.dump
/software/asm_tests/*.elf
/software/asm_tests/*.hex
/software/asm_tests/__pycache__/*
/rtl/floating_*